@model FRIDGamE.Models.Game

@{
    ViewData["Title"] = "Kup grę";
}

<h1>@Html.DisplayFor(model => model.GameName)</h1>

<div>
    <h4>
        @Html.DisplayFor(model => model.Description)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Studio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Studio.DeveloperName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GamePublisher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GamePublisher.PublisherName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegularPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegularPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="BuyConfirm" asp-route-id="@Model?.Id">Kup</a> |
    <a asp-action="Index">Powrót</a>
</div>
