@model IEnumerable<FRIDGamE.Models.Game>

@{
    ViewData["Title"] = "Sklep";
}

<h1>SKLEP</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">@*
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Studio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GamePublisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegularPrice)
            </th>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>*@
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GameName)
                </td>
               @* <td>
                    @Html.DisplayFor(modelItem => item.Studio.DeveloperName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GamePublisher.PublisherName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.RegularPrice)zł
                </td>
                @if (item.ReleaseDate > DateTime.Now)
                {
                    <td>
                        Wczesny Dostęp
                    </td>
                }
                else
                {
                    <td></td>
                }
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a> |
                    <a asp-action="Buy" asp-route-id="@item.Id">Kup</a>
                </td>
            </tr>
        }
    </tbody>
</table>
