@model IEnumerable<FRIDGamE.Models.Promotion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegularPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndOfPromotion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if ((item.EndOfPromotion - DateTime.Now).Days >= 0)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.GameName.GameName)
                    </td>
                    <td>
                        <s>@Html.DisplayFor(modelItem => item.RegularPrice)zł</s> @(item.RegularPrice-(item.RegularPrice * item.Discount / 100))zł
                    </td>
                    <td>
                        -@Html.DisplayFor(modelItem => item.Discount)%
                    </td>
                    <td>
                        @if ((item.EndOfPromotion - DateTime.Now).Days > 1)
                        {
                            <div>
                                Promocja kończy się za @((item.EndOfPromotion - DateTime.Now).Days) dni
                            </div>
                        }
                        else if ((item.EndOfPromotion - DateTime.Now).Days == 1)
                        {
                            <div>
                                Promocja kończy się jutro
                            </div>
                        }
                        else
                        {
                            <div>
                                Promocja kończy się dziś
                            </div>
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
