@model FRIDGamE.Models.Promotion

@{
    ViewData["Title"] = "Szczegóły Promocji";
}

<h1>
    @Html.DisplayFor(model => model.GameName.GameName) -@Html.DisplayFor(model => model.Discount)%
</h1>

<div>
    <h4><s>@Html.DisplayFor(model => model.RegularPrice)zł</s> @(Math.Round(Model.RegularPrice - (Model.RegularPrice * Model.Discount) / 100))zł</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Czas trwania promocji
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartOfPromotion) - @Html.DisplayFor(model => model.EndOfPromotion)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edytuj</a>
    <a class="btn btn-outline-secondary" asp-action="Index">Powrót</a>
</div>
